.style-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.style-footer-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}
.style-footer-right > ul{
    list-style: none;
}
.style-footer-left-1 > h3 {
    font-family: Sofia Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #454545;
}